body {
    background-color: rgb(35, 25, 85);
    color: rgb(255, 229, 180);
  }

  .roundness {
    border-radius: 50%;
    height: 150px;
  }

  h1,
  h3 {
    color: rgb(232, 170, 66);
  }

  a {
    color: rgb(255, 99, 99);
  }

  hr {
    color: rgb(232, 170, 66);
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
  }
